<?xml version="1.0" encoding="utf-8"?>
<fantasy xmlns="http://fantasy.net/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  <!-- 鈫撹繖鏄负浜嗗吋瀹规棫鐗團antasy鐨勫琛↗son閰嶇疆鈫? 濡傛灉杩欎釜XML鑺傜偣琚敞閲婃帀, 灏变細浠?Fantasy.config 閰嶇疆涓哄噯 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->
  <!-- 鈫撹繖鏄洰鍓嶆帹鑽愪娇鐢ㄧ殑Fantasy妗嗘灦鍚湇閰嶇疆鈫?-->
  <!-- 缃戠粶閰嶇疆 鏈嶅姟鍣ㄤ箣闂磋闂殑鍗忚 -->
  <network inner="TCP" maxMessageSize="1048560" />
  <!-- 蹇冭烦娑堟伅閰嶇疆 瓒呮椂鏃堕棿:8绉?蹇冭烦妫€娴嬮棿闅?5绉?寤鸿灏忎簬瓒呮椂鏃堕棿鐧惧垎涔?0 -->
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 鏈哄櫒閰嶇疆 -->
    <machines>
      <!-- 閴存潈鏈嶅姟鍣?-->
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <!-- 杩涚▼閰嶇疆 -->
    <processes>
      <!-- 閴存潈鏈嶅姟鍣ㄥ崰鐢↖d 1 - 2000 -->
      <process id="1" machineId="1" startupGroup="0" />
      <!-- Gate鏈嶅姟鍣ㄥ崰鐢↖d 2001 - 3000 -->
      <process id="2001" machineId="1" startupGroup="0" />
      <process id="2002" machineId="1" startupGroup="0" />
    </processes>
    <!-- 涓栫晫閰嶇疆 -->
    <worlds>
      <world id="1" worldName="测试服">
        <database dbType="MongoDB" dbName="fantasy_main" dbConnection="mongodb://127.0.0.1" />
      </world>
    </worlds>
    <!-- 鍦烘櫙閰嶇疆 -->
    <scenes>
      <!-- 閴存潈Scene鐨処D鍗?1001 - 1050 -->
      <scene id="1001" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Authentication" networkProtocol="KCP" outerPort="20001" innerPort="11001" />
      <scene id="1002" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Authentication" networkProtocol="KCP" outerPort="20002" innerPort="11002" />
      <scene id="1003" processConfigId="1" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Authentication" networkProtocol="KCP" outerPort="20003" innerPort="11003" />
      <!-- GateScene鐨処D鍗?1051 - 1055 -->
      <scene id="1051" processConfigId="2001" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Gate" networkProtocol="KCP" outerPort="20051" innerPort="11051" />
      <!-- BattleScene ID 范围 1101 - 1150 -->
      <scene id="1101" processConfigId="2001" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Battle" networkProtocol="KCP" outerPort="20101" innerPort="11101" />
      <!-- <scene id="1052" processConfigId="2002" worldConfigId="1" sceneRuntimeMode="MultiThread" sceneTypeString="Gate" networkProtocol="KCP" outerPort="20052" innerPort="11052" /> -->
    </scenes>
  </server>
</fantasy>

