<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://fantasy.net/config Fantasy.xsd">
  <!-- ↓这是为了兼容旧版Fantasy的导表Json配置↓, 如果这个XML节点被注释掉, 就会以 Fantasy.config 配置为准 -->
  <!--<configTable path="../../../../Config/Json/Server" />-->
  <!-- ↓这是目前推荐使用的Fantasy框架启服配置↓ -->
  <!-- 网络配置 服务器之间访问的协议 -->
  <network inner="TCP" maxMessageSize="1048560" />
  <!-- 心跳消息配置 超时时间:8秒 心跳检测间隔:5秒 建议小于超时时间百分之60 -->
  <session idleTimeout="8000" idleInterval="5000" />
  <server>
    <!-- 机器配置 -->
    <machines>
      <!-- 鉴权服务器 -->
      <machine id="1" outerIP="127.0.0.1" outerBindIP="127.0.0.1" innerBindIP="127.0.0.1" />
    </machines>
    <!-- 进程配置 -->
    <processes>
      <!-- 鉴权服务器占用Id 1 - 2000 -->
      <process id="1" machineId="1" startupGroup="0" />
      <!-- Gate服务器占用Id 2001 - 3000 -->
      <process id="2001" machineId="1" startupGroup="0" />
      <process id="2002" machineId="1" startupGroup="0" />
      <!-- Battle服务器占用Id 3001 - 4000 -->
      <process id="3001" machineId="1" startupGroup="0" />
    </processes>
    <!-- 世界配置 -->
    <worlds>
      <world id="1" worldName="测试服" >
        <database dbType="MongoDB" dbName="fantasy_main" dbConnection="mongodb://127.0.0.1"/>
      </world>
    </worlds>
    <!-- 场景配置 -->
    <scenes>
      <!-- 鉴权Scene的ID占 1001 - 1050 -->
      <scene id="1001" 
             processConfigId="1" 
             worldConfigId="1" 
             sceneRuntimeMode="MultiThread" 
             sceneTypeString="Authentication"
             networkProtocol="KCP" 
             outerPort="20001" innerPort="11001" />
      <scene id="1002"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Authentication"
             networkProtocol="KCP"
             outerPort="20002" innerPort="11002" />
      <scene id="1003"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Authentication"
             networkProtocol="KCP"
             outerPort="20003" innerPort="11003" />
      <!-- GateScene的ID占 1051 - 1055 -->
      <scene id="1051"
             processConfigId="2001"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Gate"
             networkProtocol="KCP"
             outerPort="20051" innerPort="11051" />
      <scene id="1052"
             processConfigId="2002"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Gate"
             networkProtocol="KCP"
             outerPort="20052" innerPort="11052" />
      <!-- BattleScene -->
      <scene id="2001"
             processConfigId="3001"
             worldConfigId="1"
             sceneRuntimeMode="MultiThread"
             sceneTypeString="Battle"
             networkProtocol="KCP"
             outerPort="20101" innerPort="11101" />
    </scenes>
  </server>
</fantasy>
